<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"><!--<![endif]-->
  <head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%= siteInfo.description %>">
    <meta name="keywords" content="<%= siteInfo.keywords %>">
    <meta name="author" content="Hotchcms">

    <title><%= siteInfo.title %></title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="<%= alias %>/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= alias %>/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%= alias %>/assets/css/animate.css">
    <link rel="stylesheet" href="<%= alias %>/assets/css/style.css">

  </head>