<%- include ../common/head -%>
<body>
  <%- include ../common/header -%>
  <main>
    <div class="container">
      <div class="row">
        <!-- blog-contents -->
        <section class="col-md-8">

            <article class="blog-item">
              <div class="row">
                <div class="col-md-3">
                  <a href="single_blog_page.html">
                    <img src="<%= alias %>/assets/img/corporate.jpg" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                  </a>
                </div>
                <div class="col-md-9">
                  <p>
                    in 
                    <a href="html5-templates.html">html5</a>
                    ,
                    <a href="#">templates</a>
                    <time>23-july-2015<time>
                  </p>
                  <h1>
                    <a href="single_blog_page.html">50+ best free responsive corporate template in 2015</a>
                  </h1>
                </div>
              </div>
            </article> <!-- /.blog-item -->

            <div class="page-turn">
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <nav>
                    <ul class="pagination pagination-sm">
                      <li class="disabled">
                        <a href="#" aria-label="Previous">
                          <span aria-hidden="true">Prev</span>
                        </a>
                      </li>
                      <li class="active"><a href="index.html">1</a></li>
                      <li><a href="page2.html">2</a></li>
                      <li><a href="page3.html">3</a></li>
                      <li><a href="page4.html">4</a></li>
                      <li><a href="page5.html">5</a></li>
                      <li>
                        <a href="page6.html" aria-label="Next">
                          <span aria-hidden="true">Next</span>
                        </a>
                      </li>
                    </ul> <!-- /.pagination -->
                  </nav>
                </div>
              </div>
            </div> <!-- /.page-turn -->

        </section>
        <!-- end of blog-contents -->

      </div>
    </div>
  </main>
  <%- include ../common/footer -%>
</body>
<%- include ../common/foot -%>